venv
Lab_2.2/headbrain.csv
Lab_3.1/AirQualityUCI.csv
Lab_3.1/AirQualityUCI.xlsx
Lab_1/winequality-red.csv
Lab_3.1/student-mat.csv
Lab_3.1/student-merge.R
Lab_3.1/student-por.csv
Lab_4/winequality-red.csv
Lab_4/winequality-white.csv
Lab_7/.ipynb_checkpoints
.ipynb_checkpoints